* {
    box-sizing: border-box ;
}
html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
    font-family:'Lora', serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Chelsea Market', serif;
    color: #444;
    margin: 5px;
}

a{
    text-decoration: none;
    color: inherit;
}

.clearfix::after {

    content: '';
    display: block;
    clear: both;
}

.btn{
    padding: .2rem 1rem;
    background: #006669;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn:hover{
    color: white !important;
    background: green;
}

.text-input{
    padding: .4rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
    color: #444;
    line-height: 1rem;
    font-size: 1em;
    font-family: 'Lora', serif;
}

header {
    background: #25df00;
    height: 66px;   
}

header * {
    color:rgb(255, 255, 255);
}

header .logo {
    float: left;
    height: 66px;
    margin-left: 4em;
}

header .logo-text {
    margin: 8px;
    font-family: 'Chelsea Market', serif;
}

header .logo-text span{
    color: #ff0000;
}

header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Chelsea Market', serif;
    
}
header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    top: 66px;
    right:0px;
    width:198px;
    display: none;
}

header ul li:hover ul{
    display: block;
}

header ul li ul li{
    width:100%;
}

header ul li ul li a{
    padding: 10px;
    background:white;
    color: #000000;
}

header ul li ul li a.Logout {
    color: red;
}

header ul li ul li a:hover{
    background: #25df00;
}

header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover {
    background: #004042;
    transition: 1s;
}

/* header .menu-toggle{
    display: none;
}


/* CONTENT */

.content{
    width:90%;
    margin: 30px auto 30px;
    float: left;
}

.content .main-content{
    width:70%;
    float: left;
   

}

.content .main-content .post{
    width: 95%;
    height: 150px;
    margin: 10px auto;
    border-radius: 5px;
    background: white;
    position: relative;

}

.content .main-content .post .read-more{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.content .main-content .post .post-preview {
    width: 60%;
    padding:10px;
    float: left;
}

.content .main-content .recent-post-title{
    margin: 20px;
    

}

.content .sidebar{
    width: 30%;
    float: left;
     height: 300px;
}

.content .sidebar .section{
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content .sidebar .section .section-title{
    margin: 10px 0px 10px 0px;
}

.content .sidebar .section.search{
    margin-top: 80px;
}

.content .sidebar .section.topics ul{
 margin: 0px;
 padding: 0px;
 list-style: none;
 border-top: 1px solid #e0e0e0;
}

.content .sidebar .section.topics ul li a{
  display: block;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #e0e0e0;
}

.content .sidebar .section.topics ul li a:hover{
    padding-left: 10px;
    transition: all 0.5s;
}


/* MEDIA QUERIES */



/* FOOTER */
.footer{
    background: #303036;
    color: white;
    height:400px;
    position: relative;
    margin-top:1100px;
    
}

.footer .footer-content {
height: 350px;
display: flex;
}

.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
    
}

.footer .footer-content h1, .footer .footer-content h2{
    color: white;
}

.footer .footer-content .about h1 span{
color: red;
}

.footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .footer-content .about .socials a {
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;

}

.footer .footer-content .about .socials a:hover {
    border: 1px solid white;
    color: white;
    transition: all .3s;
}


.footer .footer-content .link ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;

}

.footer .footer-content .link ul a:hover{
    color: white;
    margin-left: 15px;
    transition: all .3s;
}

.footer .footer-content .contact-form .contact-inpout {
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .7rem 1.2rem;
    border: none;
}

.footer .footer-content .contact-form .contact-inpout:focus {
    background: #1a1a1a;
}

.footer .footer-bottom{
    background: #343a40;
    color: #686868;
    height:50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}
