* {
    box-sizing: border-box ;
}
body {
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
    font-family:'Lora', serif;
}

header {
    background: #25df00;
    height: 66px;   
}

header * {
    color:rgb(255, 255, 255);
}

header .logo {
    float: left;
    height: 66px;
    margin-left: 4em;
}

header .logo-text {
    margin: 8px;
    font-family: 'Chelsea Market', serif;
}

header .logo-text span{
    color: #ff0000;
}

header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Chelsea Market', serif;
    
}
header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    top: 66px;
    right:0px;
    width:198px;
    display: none;
}

header ul li:hover ul{
    display: block;
}

header ul li ul li{
    width:100%;
}

header ul li ul li a{
    padding: 10px;
    background:white;
    color: #000000;
}

header ul li ul li a.Logout {
    color: red;
}

header ul li ul li a:hover{
    background: #25df00;
}

header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover {
    background: #004042;
    transition: 1s;
}

/* header .menu-toggle{
    display: none;
}
*/

/* MEDIA QUERIES */

